@page "/"

<PageTitle>Home</PageTitle>

<h1>ES2</h1>

<div class="text-center mt-4">
    <NavLink class="btn btn-outline-primary d-flex flex-column align-items-center px-2 py-2" href="/user-info" style="width: auto;">
        <i class="bi bi-person-fill" style="font-size: 1.5rem;"></i>
        <span class="mt-1" style="font-size: 0.9rem;">Users</span>
    </NavLink>
</div>
