@page "/"

@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Home</PageTitle>

<h1>Software Engineering II</h1>

<AuthorizeView>
    <Authorized>
        <p>Bem-vindo, @context.User.Identity?.Name!</p>
        <p>Autenticado: @context.User.Identity?.IsAuthenticated</p>
        <p>Nome: @context.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>Não autenticado</p>
    </NotAuthorized>
</AuthorizeView>
