@page "/home"

@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Home</PageTitle>

<h1>Software Engineering II</h1>

<AuthorizeView>
    <Authorized Context="auth">
        <p>Claims disponíveis:</p>
        <ul>
            @foreach (var c in auth.User.Claims)
            {
                <li>@c.Type: @c.Value</li>
            }
        </ul>
        <p>Bem-vindo, @auth.User.Identity?.Name!</p>
    </Authorized>
    <NotAuthorized>
        <p>Olá, visitante. <NavLink href="/">Faz login</NavLink>.</p>
    </NotAuthorized>
</AuthorizeView>
