@page "/minimal"

@* Uncommenting the line bellow will make the page render as a server-side Blazor component. *@
@* Otherwise, it will be rendered as a static HTML page, which has non-interactive buttons. *@
@* In auto-rendering mode, we need to specify the rendering mode in the `@rendermode` directive. *@

@* @rendermode InteractiveServer *@

<h3>Minimal Test</h3>

<p>Count: @count</p>

<button @onclick="Increment">Click Me</button>

@code {
    private int count = 0;

    private void Increment()
    {
        count++;
    }
}