@page "/user-info"
@using Frontend.Helpers
@using global::Helpers.Models
@using Microsoft.AspNetCore.Components.Authorization
@inject ApiHelper ApiHelper
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>User Info</PageTitle>

<h1>User Info</h1>

@if (_users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in _users)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.Username</td>
                <td>@user.RoleId</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<UserViewModel>? _users;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        
        if (user.Identity is { IsAuthenticated: true })
        {
            _users = await ApiHelper.GetFromApiAsync<List<UserViewModel>>("get_all_users");
        }
    }
}